

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the jungle</h1>
</div>
<p>@ViewData["Student"]</p>
<address>
    <a> Email: </a> <a>@ViewData["Email"]</a>
</address>
